.sidebar {
  transform: translateY(-50%);
}

.sidebar_icon {
  background-color: #011222;
  color: #a0dbe6;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.sidebar_icon:hover {
  background-color: #011222;
}

.sidebar_items {
  background-color: #011222;
  color: #a0dbe6;
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.sidebar_item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.sidebar_item:hover {
  background-color: #011222;
}

.sidebar_item i {
  font-size: 1.3rem;
  margin-right: 10px;
}

.sidebar_item p {
  font-size: 1rem;
}
